# Shopify
SHOPIFY_STORE=tu-tienda.myshopify.com
SHOPIFY_ACCESS_TOKEN=shpat_xxxxxxxxxxxx
SHOPIFY_API_VERSION=2024-01

# Typesense
TYPESENSE_HOST=localhost
TYPESENSE_PORT=8108
TYPESENSE_PROTOCOL=http
TYPESENSE_API_KEY=dev-api-key

# Docker (solo para desarrollo local)
TYPESENSE_DOCKER_VOLUME=typesense-data
TYPESENSE_DOCKER_IMAGE=typesense/typesense:27.0
